In [94]:
#  dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# reading in beer ratings csv

df=pd.read_csv(r'data\beer_rating.csv')
df.head()

,beer name,id,beer type,Name,brewery,Description,ABV,Ave Rating,Min IBU,Max IBU,...,Body,Alcohol,Bitter,Sweet,Sour,Salty,Fruits,Hoppy,Spices,Malty
0,Amber,251,Altbier,8,Alaskan Brewing Co.,"Notes:Richly malty and long on the palate, wit...",5.3,3.65,25,50,...,32,9,47,74,33,0,33,57,8,111
1,Double Bag,252,Altbier,8,Long Trail Brewing Co.,"Notes:This malty, full-bodied double alt is al...",7.2,3.90,25,50,...,57,18,33,55,16,0,24,35,12,84
2,Long Trail Ale,253,Altbier,8,Long Trail Brewing Co.,Notes:Long Trail Ale is a full-bodied amber al...,5.0,3.58,25,50,...,37,6,42,43,11,0,10,54,4,62
3,Doppelsticke,254,Altbier,8,Uerige Obergärige Hausbrauerei,Notes:,8.5,4.15,25,50,...,55,31,47,101,18,1,49,40,16,119
4,Scurry,255,Altbier,8,Off Color Brewing,Notes:Just cause it's dark and German doesn't ...,5.3,3.67,25,50,...,69,10,63,120,14,0,19,36,15,218

In [95]:
# creating brewery df based on the beer ratings csv to create a universaL index for all breweries
df = df[['brewery']].drop_duplicates()
ratings_brew_df = pd.DataFrame(df.groupby('brewery'))
ratings_brew_df.head()
grouped_rdf = pd.DataFrame()
grouped_rdf['brewery_name'] = ratings_brew_df[0]

grouped_rdf['brewery_name'] = grouped_rdf['brewery_name'].str.replace(')', '')
grouped_rdf['brewery_name'] = grouped_rdf['brewery_name'].str.replace('(', '')


grouped_rdf.reset_index()

<ipython-input-95-ff73ddc4c937>:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  grouped_rdf['brewery_name'] = grouped_rdf['brewery_name'].str.replace(')', '')
<ipython-input-95-ff73ddc4c937>:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  grouped_rdf['brewery_name'] = grouped_rdf['brewery_name'].str.replace('(', '')

      index                        brewery_name
0         0                 512 Brewing Company
1         1               10 Barrel Brewing Co.
2         2               14th Star Brewing Co.
3         3  18th Street Brewery - Gary Taproom
4         4              1940's Brewing Company
...     ...                                 ...
1493   1493                    de Garde Brewing
1494   1494               pFriem Family Brewers
1495   1495                   von Trapp Brewing
1496   1496                  Ölvisholt Brugghús
1497   1497                     Žatecký Pivovar

[1498 rows x 2 columns]

In [96]:
# df based on open brewery db, to create a universal index for all breweries
bdf = pd.read_csv(r'data/usbreweries.csv')
bdf = bdf[['name']].drop_duplicates()
bdf = pd.DataFrame(bdf.groupby('name'))
grouped_bdf = pd.DataFrame()
grouped_bdf['brewery_name'] = bdf[0]

grouped_bdf['brewery_name'] = grouped_bdf['brewery_name'].str.replace('(', '')
grouped_bdf['brewery_name'] = grouped_bdf['brewery_name'].str.replace(')', '')

grouped_bdf.reset_index()

<ipython-input-96-8b3a2bb70477>:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  grouped_bdf['brewery_name'] = grouped_bdf['brewery_name'].str.replace('(', '')
<ipython-input-96-8b3a2bb70477>:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  grouped_bdf['brewery_name'] = grouped_bdf['brewery_name'].str.replace(')', '')

      index                     brewery_name
0         0                   405 Brewing Co
1         1             10 Barrel Brewing Co
2         2  10 Barrel Brewing Co - Bend Pub
3         3     10 Barrel Brewing Co - Boise
4         4    10 Barrel Brewing Co - Denver
...     ...                              ...
5014   5014                 ZwanzigZ Brewing
5015   5015                Zydeco Brew Werks
5016   5016          Zymurcracy Beer Company
5017   5017               Zymurgy Brew Works
5018   5018      troubled waters brewing co.

[5019 rows x 2 columns]

In [97]:
# merge based on brewery name

merged_df = pd.merge(grouped_rdf, grouped_bdf, on=['brewery_name'],how='outer')
merged_df = merged_df.drop_duplicates('brewery_name').reset_index().rename(columns={'index':'brewery_id'})
merged_df.head()

   brewery_id                        brewery_name
0           0                 512 Brewing Company
1           1               10 Barrel Brewing Co.
2           2               14th Star Brewing Co.
3           3  18th Street Brewery - Gary Taproom
4           4              1940's Brewing Company

In [114]:
# create beer to brewery df
rdf = pd.read_csv(r'data/beer_rating.csv')
rdf = rdf[['id','beer name','brewery']]
rdf[['beer_id','beer_name','brewery_name']] = rdf[['id','beer name','brewery']]

beer_to_brewery_df = pd.merge(rdf,merged_df,on=['brewery_name'])
beer_to_brewery_df['brewery'] = merged_df['brewery_id']
beer_to_brewery_df = beer_to_brewery_df.drop(columns=['brewery'])
beer_to_brewery_df = beer_to_brewery_df[['brewery_name','brewery_id','beer_name','beer_id']]
beer_to_brewery_df.head()

id_df = beer_to_brewery_df[['brewery_id','beer_id']]
id_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5370 entries, 0 to 5369
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   brewery_id  5370 non-null   int64
 1   beer_id     5370 non-null   int64
dtypes: int64(2)
memory usage: 125.9 KB

In [200]:
# create brewery info df
bdf = pd.read_csv(r'data/usbreweries.csv')
bdf = bdf.drop(columns=['Unnamed: 0','obdb_id','postal_code','phone','country'])

brewery_info_df = bdf.rename(columns={'name':'brewery_name'})
brewery_info_df.head()

brewery_info_df = pd.merge(brewery_info_df, merged_df, on=['brewery_name'],how='outer')
# brewery_info_df.sort_values(by=['brewery_id']).tail()

brewery_info_df.head()

,brewery_name,brewery_type,street,city,state,website_url,longitude,latitude,brewery_id
0,Siluria Brewing Company,planning,NaN,Alabaster,Alabama,http://www.siluriabrewing.com,-86.816377,33.244281,5410.0
1,Cheaha Brewing Co,brewpub,1208 Walnut Ave,Anniston,Alabama,http://www.cheahabrewingcompany.com,-85.833774,33.660167,2533.0
2,Avondale Brewing Co,micro,201 41st St S,Birmingham,Alabama,http://www.avondalebrewing.com,-86.774322,33.524521,1793.0
3,Birmingham District Brewing,planning,NaN,Birmingham,Alabama,NaN,-86.802433,33.520682,2063.0
4,Brewpub In Planning - Birmingham,planning,NaN,Birmingham,Alabama,NaN,-86.802433,33.520682,2304.0

In [201]:
# creating id numbers for breweries without id numbers
new_ids = {'brewery_id' : (np.arange(6334,6372))}

brewery_info_df['brewery_id'] = brewery_info_df['brewery_id'].fillna(value = new_ids)

fix_null_ids = brewery_info_df.loc[brewery_info_df['brewery_id'].isnull()]
fix_null_ids = fix_null_ids[['brewery_name','brewery_id']]
fix_null_ids['brewery_id'] = new_ids
fix_null_ids.head(40)

# brewery_info_df = pd.merge(brewery_info_df, fix_null_ids, on=['brewery_name','brewery_id'],how='outer')

brewery_info_df.sort_values(by=['brewery_id']).tail()

ValueError: Length of values (1) does not match length of index (38)

In [ ]:
# create beer profile df

In [ ]:
# create beer flavor profile df