In [137]:
#  dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [138]:
# reading in beer ratings csv

df=pd.read_csv(r'data\beer_rating.csv')
df.head()

,beer name,id,beer type,Name,brewery,Description,ABV,Ave Rating,Min IBU,Max IBU,...,Body,Alcohol,Bitter,Sweet,Sour,Salty,Fruits,Hoppy,Spices,Malty
0,Amber,251,Altbier,8,Alaskan Brewing Co.,"Notes:Richly malty and long on the palate, wit...",5.3,3.65,25,50,...,32,9,47,74,33,0,33,57,8,111
1,Double Bag,252,Altbier,8,Long Trail Brewing Co.,"Notes:This malty, full-bodied double alt is al...",7.2,3.90,25,50,...,57,18,33,55,16,0,24,35,12,84
2,Long Trail Ale,253,Altbier,8,Long Trail Brewing Co.,Notes:Long Trail Ale is a full-bodied amber al...,5.0,3.58,25,50,...,37,6,42,43,11,0,10,54,4,62
3,Doppelsticke,254,Altbier,8,Uerige Obergärige Hausbrauerei,Notes:,8.5,4.15,25,50,...,55,31,47,101,18,1,49,40,16,119
4,Scurry,255,Altbier,8,Off Color Brewing,Notes:Just cause it's dark and German doesn't ...,5.3,3.67,25,50,...,69,10,63,120,14,0,19,36,15,218

In [139]:
#  read in usbreweries csv
brdf = pd.read_csv(r'data\usbreweries.csv')
brdf.head()

,Unnamed: 0,obdb_id,name,brewery_type,street,city,state,postal_code,website_url,phone,country,longitude,latitude
0,0,siluria-brewing-company-alabaster,Siluria Brewing Company,planning,NaN,Alabaster,Alabama,35007-8501,http://www.siluriabrewing.com,2054827661,United States,-86.816377,33.244281
1,1,cheaha-brewing-co-anniston,Cheaha Brewing Co,brewpub,1208 Walnut Ave,Anniston,Alabama,36201-4526,http://www.cheahabrewingcompany.com,2567707300,United States,-85.833774,33.660167
2,2,avondale-brewing-co-birmingham,Avondale Brewing Co,micro,201 41st St S,Birmingham,Alabama,35222-1932,http://www.avondalebrewing.com,2057775456,United States,-86.774322,33.524521
3,3,birmingham-district-brewing-birmingham,Birmingham District Brewing,planning,NaN,Birmingham,Alabama,35242-5651,NaN,6019380486,United States,-86.802433,33.520682
4,4,brewpub-in-planning-birmingham-birmingham,Brewpub In Planning - Birmingham,planning,NaN,Birmingham,Alabama,35222,NaN,2565854531,United States,-86.802433,33.520682

In [140]:
# creating brewery df based on the beer ratings csv to create a universaL index for all breweries
df = df[['brewery']].drop_duplicates()
ratings_brew_df = pd.DataFrame(df.groupby('brewery'))
ratings_brewery_df = pd.DataFrame()
ratings_brewery_df['brewery_name'] = ratings_brew_df[0]
ratings_brewery_df.head()

                         brewery_name
0               (512) Brewing Company
1               10 Barrel Brewing Co.
2               14th Star Brewing Co.
3  18th Street Brewery - Gary Taproom
4              1940's Brewing Company

In [141]:
# df based on open brewery db, to create a universal index for all breweries
bdf = pd.read_csv(r'data/usbreweries.csv')
bdf = bdf[['name']].drop_duplicates()
bdf = pd.DataFrame(bdf.groupby('name'))

grouped_bdf = pd.DataFrame()

grouped_bdf['brewery_name'] = bdf[0]

# grouped_bdf['brewery_name'] = grouped_bdf['brewery_name'].str.replace('(', '')
# grouped_bdf['brewery_name'] = grouped_bdf['brewery_name'].str.replace(')', '')

grouped_bdf.reset_index()

      index                     brewery_name
0         0                 (405) Brewing Co
1         1             10 Barrel Brewing Co
2         2  10 Barrel Brewing Co - Bend Pub
3         3     10 Barrel Brewing Co - Boise
4         4    10 Barrel Brewing Co - Denver
...     ...                              ...
5014   5014                 ZwanzigZ Brewing
5015   5015                Zydeco Brew Werks
5016   5016          Zymurcracy Beer Company
5017   5017               Zymurgy Brew Works
5018   5018      troubled waters brewing co.

[5019 rows x 2 columns]

In [142]:
# merge based on brewery name

merged_df = pd.merge(ratings_brewery_df, grouped_bdf, on=['brewery_name'],how='outer')
merged_df = merged_df.drop_duplicates('brewery_name').reset_index().rename(columns={'index':'brewery_id'})
merged_df.head()

   brewery_id                        brewery_name
0           0               (512) Brewing Company
1           1               10 Barrel Brewing Co.
2           2               14th Star Brewing Co.
3           3  18th Street Brewery - Gary Taproom
4           4              1940's Brewing Company

In [143]:
# create beer : brewery df
rdf = pd.read_csv(r'data/beer_rating.csv')
rdf = rdf[['id','beer name','brewery']]
rdf[['beer_id','beer_name','brewery_name']] = rdf[['id','beer name','brewery']]

beer_to_brewery_df = pd.merge(rdf,merged_df,on=['brewery_name'])
beer_to_brewery_df['brewery'] = merged_df['brewery_id']
beer_to_brewery_df = beer_to_brewery_df.drop(columns=['brewery'])
beer_to_brewery_df = beer_to_brewery_df[['brewery_name','brewery_id','beer_name','beer_id']]
beer_to_brewery_df.head()

id_df = beer_to_brewery_df[['brewery_id','beer_id']]
id_df.head()

   brewery_id  beer_id
0          34      251
1          34       71
2          34      442
3          34     1907
4          34     4316

In [144]:
# create brewery info df
bdf = pd.read_csv(r'data/usbreweries.csv')
bdf = bdf.drop(columns=['Unnamed: 0','phone','country'])

brewery_info_df = bdf.rename(columns={'name':'brewery_name'})
brewery_info_df.head()

brewery_info_df = pd.merge(brewery_info_df, merged_df, on=['brewery_name'],how='outer')

brewery_info_df.reindex(columns=['brewery_id','brewery_name','brewery_type','city','state','country','latitude','longitude'])
brewery_info_df.sort_values(by=['brewery_id'])

brewery_info_df.head()

,obdb_id,brewery_name,brewery_type,street,city,state,postal_code,website_url,longitude,latitude,brewery_id
0,siluria-brewing-company-alabaster,Siluria Brewing Company,planning,NaN,Alabaster,Alabama,35007-8501,http://www.siluriabrewing.com,-86.816377,33.244281,5410
1,cheaha-brewing-co-anniston,Cheaha Brewing Co,brewpub,1208 Walnut Ave,Anniston,Alabama,36201-4526,http://www.cheahabrewingcompany.com,-85.833774,33.660167,2533
2,avondale-brewing-co-birmingham,Avondale Brewing Co,micro,201 41st St S,Birmingham,Alabama,35222-1932,http://www.avondalebrewing.com,-86.774322,33.524521,1793
3,birmingham-district-brewing-birmingham,Birmingham District Brewing,planning,NaN,Birmingham,Alabama,35242-5651,NaN,-86.802433,33.520682,2063
4,brewpub-in-planning-birmingham-birmingham,Brewpub In Planning - Birmingham,planning,NaN,Birmingham,Alabama,35222,NaN,-86.802433,33.520682,2304

In [145]:
# create beer profile df
profile_df = pd.read_csv(r'data/beer_rating.csv')
profile_df = profile_df[['id','beer name','beer type','ABV','Min IBU','Max IBU','Ave Rating','Description']]
profile_df['avg_ibu'] = (profile_df['Min IBU'] + profile_df['Max IBU'])/2
profile_df = profile_df.drop(columns=['Min IBU','Max IBU'])
profile_df = profile_df.rename(columns={'id':'beer_id','beer name':'beer_name','beer type':'beer_type','ABV':'abv','Ave Rating':'avg_rating','Description':'desc'})
profile_df = profile_df[['beer_id','beer_name','beer_type','abv','avg_rating','avg_ibu','desc']]
profile_df.head()

,beer_id,beer_name,beer_type,abv,avg_rating,avg_ibu,desc
0,251,Amber,Altbier,5.3,3.65,37.5,"Notes:Richly malty and long on the palate, wit..."
1,252,Double Bag,Altbier,7.2,3.90,37.5,"Notes:This malty, full-bodied double alt is al..."
2,253,Long Trail Ale,Altbier,5.0,3.58,37.5,Notes:Long Trail Ale is a full-bodied amber al...
3,254,Doppelsticke,Altbier,8.5,4.15,37.5,Notes:
4,255,Scurry,Altbier,5.3,3.67,37.5,Notes:Just cause it's dark and German doesn't ...

In [146]:
# create beer flavor profile df
flavor_df = pd.read_csv(r'data/beer_rating.csv')
flavor_df = flavor_df[['id','beer name','Astringency','Body','Alcohol','Bitter','Sweet','Sour','Salty','Fruits','Hoppy','Spices','Malty']]
flavor_df = flavor_df.rename(columns={'id':'beer_id','beer name':'beer_name','Astringency':'astringency','Body':'body',
                                    'Alcohol':'alcohol','Bitter':'bitter','Sweet':'sweet','Sour':'sour','Salty':'salty',
                                    'Fruits':'fruits','Hoppy':'hoppy','Spices':'spices','Malty':'malty'})

In [147]:
id_df.to_csv(r'dataframes/beer_id.csv',index=False)
brewery_info_df.to_csv(r'dataframes/brewery_info.csv',index=False)
profile_df.to_csv(r'dataframes/beer_profile.csv',index=False)
flavor_df.to_csv(r'dataframes/beer_flavor.csv',index=False)

In [148]:
# sql alchemy to create a database
from sqlalchemy import create_engine

In [150]:
engine = create_engine('postgresql://postgres:Timeex00@localhost:5432/mybeer')

id_df.to_sql('beer_id',engine,if_exists='append')
brewery_info_df.to_sql('brewery_info',engine,if_exists='append')
profile_df.to_sql('beer_profile',engine,if_exists='append')
flavor_df.to_sql('beer_flavor',engine,if_exists='append')