In [1]:
#  dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# reading in beer ratings csv

df=pd.read_csv(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\data\beer_rating.csv')
df.head()

,beer name,id,beer type,Name,brewery,Description,ABV,Ave Rating,Min IBU,Max IBU,...,Body,Alcohol,Bitter,Sweet,Sour,Salty,Fruits,Hoppy,Spices,Malty
0,Amber,251,Altbier,8,Alaskan Brewing Co.,"Notes:Richly malty and long on the palate, wit...",5.3,3.65,25,50,...,32,9,47,74,33,0,33,57,8,111
1,Double Bag,252,Altbier,8,Long Trail Brewing Co.,"Notes:This malty, full-bodied double alt is al...",7.2,3.90,25,50,...,57,18,33,55,16,0,24,35,12,84
2,Long Trail Ale,253,Altbier,8,Long Trail Brewing Co.,Notes:Long Trail Ale is a full-bodied amber al...,5.0,3.58,25,50,...,37,6,42,43,11,0,10,54,4,62
3,Doppelsticke,254,Altbier,8,Uerige Obergärige Hausbrauerei,Notes:,8.5,4.15,25,50,...,55,31,47,101,18,1,49,40,16,119
4,Scurry,255,Altbier,8,Off Color Brewing,Notes:Just cause it's dark and German doesn't ...,5.3,3.67,25,50,...,69,10,63,120,14,0,19,36,15,218

In [3]:
#  read in usbreweries csv
brdf = pd.read_csv(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\data\usbreweries.csv')
brdf.head()

,Unnamed: 0,obdb_id,name,brewery_type,street,city,state,postal_code,website_url,phone,country,longitude,latitude
0,0,siluria-brewing-company-alabaster,Siluria Brewing Company,planning,NaN,Alabaster,Alabama,35007-8501,http://www.siluriabrewing.com,2054827661,United States,-86.816377,33.244281
1,1,cheaha-brewing-co-anniston,Cheaha Brewing Co,brewpub,1208 Walnut Ave,Anniston,Alabama,36201-4526,http://www.cheahabrewingcompany.com,2567707300,United States,-85.833774,33.660167
2,2,avondale-brewing-co-birmingham,Avondale Brewing Co,micro,201 41st St S,Birmingham,Alabama,35222-1932,http://www.avondalebrewing.com,2057775456,United States,-86.774322,33.524521
3,3,birmingham-district-brewing-birmingham,Birmingham District Brewing,planning,NaN,Birmingham,Alabama,35242-5651,NaN,6019380486,United States,-86.802433,33.520682
4,4,brewpub-in-planning-birmingham-birmingham,Brewpub In Planning - Birmingham,planning,NaN,Birmingham,Alabama,35222,NaN,2565854531,United States,-86.802433,33.520682

In [4]:
# creating brewery df based on the beer ratings csv to create a universaL index for all breweries
df = df[['brewery']].drop_duplicates()
ratings_brew_df = pd.DataFrame(df.groupby('brewery'))
ratings_brewery_df = pd.DataFrame()
ratings_brewery_df['brewery_name'] = ratings_brew_df[0]
ratings_brewery_df.head()

                         brewery_name
0               (512) Brewing Company
1               10 Barrel Brewing Co.
2               14th Star Brewing Co.
3  18th Street Brewery - Gary Taproom
4              1940's Brewing Company

In [5]:
# df based on open brewery db, to create a universal index for all breweries
bdf = pd.read_csv(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\data\usbreweries.csv')
bdf = bdf[['name']].drop_duplicates()
bdf = pd.DataFrame(bdf.groupby('name'))

grouped_bdf = pd.DataFrame()

grouped_bdf['brewery_name'] = bdf[0]

# grouped_bdf['brewery_name'] = grouped_bdf['brewery_name'].str.replace('(', '')
# grouped_bdf['brewery_name'] = grouped_bdf['brewery_name'].str.replace(')', '')

grouped_bdf.reset_index()

      index                     brewery_name
0         0                 (405) Brewing Co
1         1             10 Barrel Brewing Co
2         2  10 Barrel Brewing Co - Bend Pub
3         3     10 Barrel Brewing Co - Boise
4         4    10 Barrel Brewing Co - Denver
...     ...                              ...
5014   5014                 ZwanzigZ Brewing
5015   5015                Zydeco Brew Werks
5016   5016          Zymurcracy Beer Company
5017   5017               Zymurgy Brew Works
5018   5018      troubled waters brewing co.

[5019 rows x 2 columns]

In [6]:
# merge based on brewery name

merged_df = pd.merge(ratings_brewery_df, grouped_bdf, on=['brewery_name'],how='outer')
merged_df = merged_df.drop_duplicates('brewery_name').reset_index().rename(columns={'index':'brewery_id'})
merged_df.head()

   brewery_id                        brewery_name
0           0               (512) Brewing Company
1           1               10 Barrel Brewing Co.
2           2               14th Star Brewing Co.
3           3  18th Street Brewery - Gary Taproom
4           4              1940's Brewing Company

In [7]:
# create beer : brewery df
rdf = pd.read_csv(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\data\beer_rating.csv')
rdf = rdf[['id','beer name','brewery']]
rdf[['beer_id','beer_name','brewery_name']] = rdf[['id','beer name','brewery']]

beer_to_brewery_df = pd.merge(rdf,merged_df,on=['brewery_name'])
beer_to_brewery_df['brewery'] = merged_df['brewery_id']
beer_to_brewery_df = beer_to_brewery_df.drop(columns=['brewery'])
beer_to_brewery_df = beer_to_brewery_df[['brewery_name','brewery_id','beer_name','beer_id']]
beer_to_brewery_df.head(50)

id_df = beer_to_brewery_df[['brewery_id','beer_id']]
id_df.head()

   brewery_id  beer_id
0          34      251
1          34       71
2          34      442
3          34     1907
4          34     4316

In [8]:
# create brewery info df
bdf = pd.read_csv(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\data\usbreweries.csv')
bdf = bdf.drop(columns=['Unnamed: 0','phone','country'])

brewery_info_df = bdf.rename(columns={'name':'brewery_name'})
brewery_info_df.head()

brewery_info_df = pd.merge(brewery_info_df, merged_df, on=['brewery_name'],how='outer')

brewery_info_df.reindex(columns=['brewery_id','brewery_name','brewery_type','city','state','country','latitude','longitude'])
brewery_info_df.sort_values(by=['brewery_id'])

brewery_info_df.head()

,obdb_id,brewery_name,brewery_type,street,city,state,postal_code,website_url,longitude,latitude,brewery_id
0,siluria-brewing-company-alabaster,Siluria Brewing Company,planning,NaN,Alabaster,Alabama,35007-8501,http://www.siluriabrewing.com,-86.816377,33.244281,5410
1,cheaha-brewing-co-anniston,Cheaha Brewing Co,brewpub,1208 Walnut Ave,Anniston,Alabama,36201-4526,http://www.cheahabrewingcompany.com,-85.833774,33.660167,2533
2,avondale-brewing-co-birmingham,Avondale Brewing Co,micro,201 41st St S,Birmingham,Alabama,35222-1932,http://www.avondalebrewing.com,-86.774322,33.524521,1793
3,birmingham-district-brewing-birmingham,Birmingham District Brewing,planning,NaN,Birmingham,Alabama,35242-5651,NaN,-86.802433,33.520682,2063
4,brewpub-in-planning-birmingham-birmingham,Brewpub In Planning - Birmingham,planning,NaN,Birmingham,Alabama,35222,NaN,-86.802433,33.520682,2304

In [9]:
# create beer profile df
profile_df = pd.read_csv(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\data\beer_rating.csv')
profile_df = profile_df[['id','beer name','beer type','ABV','Min IBU','Max IBU','Ave Rating','Description']]
profile_df['avg_ibu'] = (profile_df['Min IBU'] + profile_df['Max IBU'])/2
profile_df = profile_df.drop(columns=['Min IBU','Max IBU'])
profile_df = profile_df.rename(columns={'id':'beer_id','beer name':'beer_name','beer type':'beer_type','ABV':'abv','Ave Rating':'avg_rating','Description':'desc'})
profile_df = profile_df[['beer_id','beer_name','beer_type','abv','avg_rating','avg_ibu','desc']]
profile_df.head()

,beer_id,beer_name,beer_type,abv,avg_rating,avg_ibu,desc
0,251,Amber,Altbier,5.3,3.65,37.5,"Notes:Richly malty and long on the palate, wit..."
1,252,Double Bag,Altbier,7.2,3.90,37.5,"Notes:This malty, full-bodied double alt is al..."
2,253,Long Trail Ale,Altbier,5.0,3.58,37.5,Notes:Long Trail Ale is a full-bodied amber al...
3,254,Doppelsticke,Altbier,8.5,4.15,37.5,Notes:
4,255,Scurry,Altbier,5.3,3.67,37.5,Notes:Just cause it's dark and German doesn't ...

In [10]:
# create beer flavor profile df
flavor_df = pd.read_csv(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\data\beer_rating.csv')
flavor_df = flavor_df[['id','beer name','Astringency','Body','Alcohol','Bitter','Sweet','Sour','Salty','Fruits','Hoppy','Spices','Malty']]
flavor_df = flavor_df.rename(columns={'id':'beer_id','beer name':'beer_name','Astringency':'astringency','Body':'body',
                                    'Alcohol':'alcohol','Bitter':'bitter','Sweet':'sweet','Sour':'sour','Salty':'salty',
                                    'Fruits':'fruits','Hoppy':'hoppy','Spices':'spices','Malty':'malty'})

In [11]:
id_df.to_csv(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\dataframes\beer_id.csv',index=False)
brewery_info_df.to_csv(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\dataframes\brewery_info.csv',index=False)
profile_df.to_csv(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\dataframes\beer_profile.csv',index=False)
flavor_df.to_csv(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\dataframes\beer_flavor.csv',index=False)

In [12]:
# sql alchemy to create a database
from sqlalchemy import create_engine

In [42]:
from config import postgres_password
engine = create_engine('postgresql://postgres:'+ postgres_password +'@localhost:5432/mybeer')

id_df.to_sql('beer_id',engine,if_exists='append')
brewery_info_df.to_sql('brewery_info',engine,if_exists='append')
profile_df.to_sql('beer_profile',engine,if_exists='append')
flavor_df.to_sql('beer_flavor',engine,if_exists='append')

In [14]:
id_df.to_json(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\json\beer_id.json',orient='records')
brewery_info_df.to_json(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\json\brewery_info.json',orient='records')
profile_df.to_json(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\json\beer_profile.json',orient='records')
flavor_df.to_json(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\json\beer_flavor.json',orient='records')

In [15]:
# df for beer rankings
top_beers = pd.read_csv(r"C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\data\beer_rating.csv")
# top_beers.head()
top_beers['Avg IBU'] = (top_beers['Min IBU'] + top_beers['Max IBU'])/2
top_beers = top_beers.drop(columns=['Name','Min IBU','Max IBU','id'])

top_beers = top_beers.rename(columns={'brewery':'Brewery', 'beer name':'Beer Name', 'beer type':'Beer Type'})
top_beers = top_beers[['Beer Name','Brewery','Beer Type','ABV','Avg IBU','Ave Rating','Astringency','Body','Alcohol','Bitter','Sweet','Sour','Salty','Fruits','Hoppy','Spices','Malty']]
# top_beers = pd.merge(top_beers,beer_to_brewery_df,on=['beer_id'])
# top_beers[['beer_id','beer_name','brewery_name','beer_type','abv','avg_rating','avg_ibu','desc','astringency','body','alcohol','bitter','sweet','sour','salty','fruits','hoppy','spices','malty']] = top_beers[['beer_id','beer_name_x','brewery_name','beer_type','abv','avg_rating','avg_ibu','desc','astringency','body','alcohol','bitter','sweet','sour','salty','fruits','hoppy','spices','malty']]
top_beers.to_json(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\json\top_beers.json',orient='records')
# # top_beers.to_csv(r'dataframes/top_beers.csv',index=False)
top_beers.head()

,Beer Name,Brewery,Beer Type,ABV,Avg IBU,Ave Rating,Astringency,Body,Alcohol,Bitter,Sweet,Sour,Salty,Fruits,Hoppy,Spices,Malty
0,Amber,Alaskan Brewing Co.,Altbier,5.3,37.5,3.65,13,32,9,47,74,33,0,33,57,8,111
1,Double Bag,Long Trail Brewing Co.,Altbier,7.2,37.5,3.90,12,57,18,33,55,16,0,24,35,12,84
2,Long Trail Ale,Long Trail Brewing Co.,Altbier,5.0,37.5,3.58,14,37,6,42,43,11,0,10,54,4,62
3,Doppelsticke,Uerige Obergärige Hausbrauerei,Altbier,8.5,37.5,4.15,13,55,31,47,101,18,1,49,40,16,119
4,Scurry,Off Color Brewing,Altbier,5.3,37.5,3.67,21,69,10,63,120,14,0,19,36,15,218

In [16]:
placement = [1,2,3,4,5,6,7,8,9,10]

top_ABV = top_beers.sort_values(by=['ABV'],ascending=False).head(10)
top_ABV['Placement'] = placement

top_ABV =  top_ABV[ ['Placement'] + [col for col in top_ABV.columns if col != 'Placement']] \
                                    .set_index(['Placement'])
top_ABV = top_ABV[['Beer Name','ABV','Brewery','Beer Type']]
top_ABV.to_csv(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\flavor_csv\top_ABV.csv')
top_ABV.head(10)

,Beer Name,ABV,Brewery,Beer Type
Placement,,,,
1,Schorschbock 57%,57.50,Schorschbräu,Bock - Eisbock
2,Schorschbock 31%,30.86,Schorschbräu,Bock - Eisbock
3,Samuel Adams UtopiasBoston Beer Company (Samue...,28.00,Boston Beer Company (Samuel Adams),Strong Ale - American
4,My Name Is Legion,22.00,Lehe Pruulikoda,Bock - Eisbock
5,Colossus,20.00,DuClaw Brewing Company,Strong Ale - American
6,Chocolate Rain,19.60,The Bruery,Stout - American Imperial
7,Black Tuesday,19.50,The Bruery,Stout - American Imperial
8,Barrel Roll No. 3 Pugachev's Cobra,18.90,Hangar 24 Brewing,Stout - Russian Imperial
9,Double Ice Bock,18.00,Southampton Publick House,Bock - Eisbock
10,World Wide Stout,18.00,Dogfish Head Craft Brewery,Stout - American Imperial

In [17]:
top_IBU = top_beers.sort_values(by=['Avg IBU'],ascending=False).head(10)
top_IBU['Placement'] = placement
top_IBU =  top_IBU[ ['Placement'] + [col for col in top_IBU.columns if col != 'Placement']].set_index(['Placement'])
top_IBU = top_IBU[['Beer Name','Avg IBU','Brewery','Beer Type']]
top_IBU.to_csv(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\flavor_csv\top_IBU.csv')
top_IBU.head(10)

,Beer Name,Avg IBU,Brewery,Beer Type
Placement,,,,
1,Hoptimum,82.5,Sierra Nevada Brewing Co.,IPA - Imperial
2,Lake Erie Monster,82.5,Great Lakes Brewing Co.,IPA - Imperial
3,Pliny The Younger,82.5,Russian River Brewing Company,IPA - Imperial
4,Unearthly (Imperial India Pale Ale),82.5,Southern Tier Brewing Company,IPA - Imperial
5,Permanent Funeral,82.5,3 Floyds Brewing Co.,IPA - Imperial
6,A Little Sumpin' Extra! Ale,82.5,Lagunitas Brewing Company,IPA - Imperial
7,Myrcenary Double IPA,82.5,Odell Brewing Company,IPA - Imperial
8,Gubna,82.5,Oskar Blues Grill & Brew,IPA - Imperial
9,G-Bot,82.5,New England Brewing Co.,IPA - Imperial
10,Dorado,82.5,Ballast Point Brewing Company,IPA - Imperial

In [30]:
top_rating = top_beers.sort_values(by=['Ave Rating'],ascending=False).head(10)
top_rating['Placement'] = placement
top_rating =  top_rating[ ['Placement'] + [col for col in top_rating.columns if col != 'Placement']].set_index(['Placement'])
top_rating = top_rating[['Beer Name','Ave Rating','Brewery','Beer Type']]
top_rating.to_csv(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\flavor_csv\top_rtg.csv')
top_rating.head(10)

,Beer Name,Ave Rating,Brewery,Beer Type
Placement,,,,
1,eisbock,4.83,Kulmbacher Kommunbräu,Bock - Eisbock
2,Marshmallow Handjee,4.81,3 Floyds Brewing Co.,Stout - Russian Imperial
3,Heady Topper,4.76,The Alchemist,IPA - New England
4,King Julius,4.76,Tree House Brewing Company,IPA - New England
5,Zenne Y Frontera,4.75,Brouwerij 3 Fonteinen,Lambic - Traditional
6,Very Hazy,4.75,Tree House Brewing Company,IPA - New England
7,Pliny The Younger,4.75,Russian River Brewing Company,IPA - Imperial
8,Drone Witch,4.74,Heirloom Rustic Ales,Bière de Champagne / Bière Brut
9,Bourbon County Brand Coffee Stout,4.73,Goose Island Beer Co.,Stout - American Imperial
10,Juice Machine,4.71,Tree House Brewing Company,IPA - New England

In [31]:
top_astringency = top_beers.sort_values(by=['Astringency'],ascending=False).head(10)
top_astringency['Placement'] = placement
top_astringency =  top_astringency[ ['Placement'] + [col for col in top_astringency.columns if col != 'Placement']].set_index(['Placement'])
top_astringency = top_astringency[['Beer Name','Astringency','Brewery','Beer Type']]
top_astringency.to_csv(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\flavor_csv\top_ast.csv')
top_astringency.head(10)

,Beer Name,Astringency,Brewery,Beer Type
Placement,,,,
1,Montmorency Vs Balaton,83,Jester King Brewery,Wild Ale
2,Sour Reserve,81,Upland Brewing Company,Lambic - Gueuze
3,Hometown Blonde,77,New Glarus Brewing Company,Pilsner - German
4,Experimental Raspberry,76,Hanssens Artisanaal bvba,Lambic - Fruit
5,Sour In The Rye - Kumquats,70,Bruery Terreux,Wild Ale
6,Iris,69,Brasserie Cantillon,Lambic - Traditional
7,Brut IPA,68,Anderson Valley Brewing Company,IPA - Brut
8,The Wright Pils,66,Great Lakes Brewing Co.,Pilsner - Bohemian / Czech
9,Red Poppy,66,The Lost Abbey,Sour - Flanders Red Ale
10,Fresh Cut,65,Peak Organic Brewing Company,Pilsner - Bohemian / Czech

In [20]:
top_body = top_beers.sort_values(by=['Body'],ascending=False).head(10)
top_body['Placement'] = placement
top_body =  top_body[ ['Placement'] + [col for col in top_body.columns if col != 'Placement']].set_index(['Placement'])
top_body = top_body[['Beer Name','Body','Brewery','Beer Type']]
top_body.to_csv(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\flavor_csv\top_bdy.csv')
top_body.head(10)

,Beer Name,Body,Brewery,Beer Type
Placement,,,,
1,Victory At Sea - Peanut Butter,197,Ballast Point Brewing Company,Porter - Imperial
2,Chocolate Milk Stout,196,4 Hands Brewing Co.,Stout - Sweet / Milk
3,Moo-HooChiato,186,Terrapin Beer Company,Stout - Sweet / Milk
4,The Chocolate Manifesto,183,Flying Monkeys Craft Brewery,Stout - Sweet / Milk
5,White Chocolate Moo-Hoo Milk Stout,179,Terrapin Beer Company,Stout - Sweet / Milk
6,Sweet Baby Jesus!,178,DuClaw Brewing Company,Porter - American
7,Down 'N Dirty Chocolate Oatmeal Stout,175,Tyranena Brewing Company,Stout - Oatmeal
8,Box Of Chocolate,166,Charleville Vineyard Microbrewery,Quadrupel (Quad)
9,Hold On To Sunshine,163,Tree House Brewing Company,Stout - Sweet / Milk
10,All That Is And All That Ever Will Be,160,Tree House Brewing Company,Stout - Sweet / Milk

In [32]:
top_alcohol = top_beers.sort_values(by=['Alcohol'],ascending=False).head(10)
top_alcohol['Placement'] = placement
top_alcohol =  top_alcohol[ ['Placement'] + [col for col in top_alcohol.columns if col != 'Placement']].set_index(['Placement'])
top_alcohol = top_alcohol[['Beer Name','Alcohol','Brewery','Beer Type']]
top_alcohol.to_csv(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\flavor_csv\top_alc.csv')
top_alcohol.head(10)

,Beer Name,Alcohol,Brewery,Beer Type
Placement,,,,
1,Pumking - Rum Barrel Aged,139,Southern Tier Brewing Company,Pumpkin Beer
2,Brewer's Reserve Bourbon Barrel Quadruple Ale,130,Central Waters Brewing Co.,Quadrupel (Quad)
3,Sustenance Black Beer - Bourbon Barrel-Aged,126,Short's Brewing Company,Lager - Schwarzbier
4,Wee Heavy - Barrel-Aged,123,AleSmith Brewing Company,Scotch Ale / Wee Heavy
5,Bourbon Barrel Ale,122,The Schlafly Tap Room,Strong Ale - English
6,Golden Delicious,120,Captain Lawrence Brewing Co.,Tripel
7,Bourbon DIPA,120,Hardywood Park Craft Brewery,IPA - Belgian
8,Barrel Aged Brrrbon (Brothers' Reserve Series),118,Widmer Brothers Brewing Company,Winter Warmer
9,Santo Ron Diego,114,The Lost Abbey,Strong Ale - American
10,Wulver,112,Thirsty Dog Brewing Company,Scotch Ale / Wee Heavy

In [34]:
top_bitter = top_beers.sort_values(by=['Bitter'],ascending=False).head(10)
top_bitter['Placement'] = placement
top_bitter =  top_bitter[ ['Placement'] + [col for col in top_bitter.columns if col != 'Placement']].set_index(['Placement'])
top_bitter = top_bitter[['Beer Name','Bitter','Brewery','Beer Type']]
top_bitter.rename(columns={'Bitter':'Bitterness'},inplace=True)
top_bitter.to_csv(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\flavor_csv\top_btr.csv')
top_bitter.head(10)

,Beer Name,Bitterness,Brewery,Beer Type
Placement,,,,
1,Earl Coffee Oatmeal Stout,150,Hill Farmstead Brewery,Stout - Oatmeal
2,Black Racer,148,Bear Republic Brewing Co.,IPA - Black / Cascadian Dark Ale
3,Java Stout,146,Bell's Brewery - Eccentric Café & General Store,Stout - American
4,Heavy Seas Black Cannon,145,Heavy Seas Beer,IPA - Black / Cascadian Dark Ale
5,Regular Coffee,144,Carton Brewing Company,Cream Ale
6,Hop In The Dark Cascadian Dark Ale,144,Deschutes Brewery,IPA - Black / Cascadian Dark Ale
7,BREWtality - Espresso Black Bier,143,Midnight Sun Brewing Co.,Lager - Schwarzbier
8,Cherry Bean Coffee Stout,140,Brau Brothers Brewing Co. LLC,Stout - Foreign / Export
9,The Devil Made Me Do It!,139,Tyranena Brewing Company,Porter - Imperial
10,Coffee Bender,139,Surly Brewing Company,Brown Ale - American

In [35]:
top_sweet = top_beers.sort_values(by=['Sweet'],ascending=False).head(10)
top_sweet['Placement'] = placement
top_sweet =  top_sweet[ ['Placement'] + [col for col in top_sweet.columns if col != 'Placement']].set_index(['Placement'])
top_sweet = top_sweet[['Beer Name','Sweet','Brewery','Beer Type']]
top_sweet.rename(columns={'Sweet':'Sweetness'},inplace=True)
top_sweet.to_csv(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\flavor_csv\top_swt.csv')
top_sweet.head(10)

,Beer Name,Sweetness,Brewery,Beer Type
Placement,,,,
1,Braggot,263,Kuhnhenn Brewing Company,Braggot
2,Double Or Nothing,238,Otter Creek Brewing,Barleywine - American
3,Box Of Chocolate,219,Charleville Vineyard Microbrewery,Quadrupel (Quad)
4,Équinoxe Du Printemps,217,Brasserie Dieu du Ciel!,Scotch Ale / Wee Heavy
5,Dark Heathen Triple Bock,216,Kuhnhenn Brewing Company,Bock - Doppelbock
6,Brother Adam's Bragget Ale,209,Atlantic Brewing Company / Mainely Meat BBQ,Braggot
7,Moment Of Clarity,208,Tree House Brewing Company,Stout - Sweet / Milk
8,Barmy,206,Ballast Point Brewing Company,Strong Ale - American
9,Hive 56,205,Allagash Brewing Company,Brown Ale - Belgian Dark
10,Serendipity,204,New Glarus Brewing Company,Fruit and Field Beer

In [36]:
top_sour = top_beers.sort_values(by=['Sour'],ascending=False).head(10)
top_sour['Placement'] = placement
top_sour =  top_sour[ ['Placement'] + [col for col in top_sour.columns if col != 'Placement']].set_index(['Placement'])
top_sour = top_sour[['Beer Name','Sour','Brewery','Beer Type']]
top_sour.rename(columns={'Sour':'Sourness'},inplace=True)
top_sour.to_csv(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\flavor_csv\top_sou.csv')
top_sour.head(10)

,Beer Name,Sourness,Brewery,Beer Type
Placement,,,,
1,Sour In The Rye - Kumquats,323,Bruery Terreux,Wild Ale
2,Sour Reserve,284,Upland Brewing Company,Lambic - Gueuze
3,Gozu,270,Westbrook Brewing Co.,Sour - Gose
4,Experimental Raspberry,241,Hanssens Artisanaal bvba,Lambic - Fruit
5,Incorrigible,241,New Holland Brewing Company,Sour - Berliner Weisse
6,La Roja - Grand Reserve,238,Jolly Pumpkin Artisan Ales,Sour - Flanders Red Ale
7,Lambic,233,Rivertown Brewery & Barrel House,Lambic - Traditional
8,Persimmon Lambic,233,Upland Brewing Company,Lambic - Fruit
9,Old Growth,230,Trinity Brewing Company,Sour - Flanders Oud Bruin
10,Oude Geuze De Cam,229,De Cam Geuzestekerij,Lambic - Gueuze

In [37]:
top_salty = top_beers.sort_values(by=['Salty'],ascending=False).head(10)
top_salty['Placement'] = placement
top_salty =  top_salty[ ['Placement'] + [col for col in top_salty.columns if col != 'Placement']].set_index(['Placement'])
top_salty = top_salty[['Beer Name','Salty','Brewery','Beer Type']]
top_salty.rename(columns={'Salty':'Saltiness'},inplace=True)
top_salty.to_csv(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\flavor_csv\top_slt.csv')
top_salty.head(10)

,Beer Name,Saltiness,Brewery,Beer Type
Placement,,,,
1,Gozu,66,Westbrook Brewing Co.,Sour - Gose
2,Hitachino Nest Anbai Ale,64,Kiuchi Brewery,Sour - Gose
3,Old Pro,60,Union Craft Brewing Company,Sour - Gose
4,26.2 BrewBoston Beer Company (Samuel Adams),51,Boston Beer Company (Samuel Adams),Sour - Gose
5,Gose,48,Upright Brewing Company,Sour - Gose
6,Salty Scot,47,Parallel 49 Brewing Company,Scotch Ale / Wee Heavy
7,Suburban Beverage,46,Perennial Artisan Ales,Sour - Gose
8,Original,44,Ritterguts Gose,Sour - Gose
9,Harborside,43,Night Shift Brewing,Sour - Gose
10,Golden Gate Gose,41,Almanac Beer Co.,Sour - Gose

In [38]:
top_fruits = top_beers.sort_values(by=['Fruits'],ascending=False).head(10)
top_fruits['Placement'] = placement
top_fruits =  top_fruits[ ['Placement'] + [col for col in top_fruits.columns if col != 'Placement']].set_index(['Placement'])
top_fruits = top_fruits[['Beer Name','Fruits','Brewery','Beer Type']]
top_fruits.rename(columns={'Fruits':'Fruitiness'},inplace=True)
top_fruits.to_csv(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\flavor_csv\top_frt.csv')
top_fruits.head(10)

,Beer Name,Fruitiness,Brewery,Beer Type
Placement,,,,
1,Sour In The Rye - Kumquats,222,Bruery Terreux,Wild Ale
2,King Julius,217,Tree House Brewing Company,IPA - New England
3,Juice Machine,211,Tree House Brewing Company,IPA - New England
4,Very Green,209,Tree House Brewing Company,IPA - New England
5,JJJuliusss,207,Tree House Brewing Company,IPA - New England
6,Femme Fatale Yuzu Pale,207,Evil Twin Brewing,Brett Beer
7,Montmorency Vs Balaton,204,Jester King Brewery,Wild Ale
8,Serendipity,202,New Glarus Brewing Company,Fruit and Field Beer
9,Doubleganger,201,Tree House Brewing Company,IPA - New England
10,Society & Solitude #4,200,Hill Farmstead Brewery,IPA - New England

In [39]:
top_hoppy = top_beers.sort_values(by=['Hoppy'],ascending=False).head(10)
top_hoppy['Placement'] = placement
top_hoppy =  top_hoppy[ ['Placement'] + [col for col in top_hoppy.columns if col != 'Placement']].set_index(['Placement'])
top_hoppy = top_hoppy[['Beer Name','Hoppy','Brewery','Beer Type']]
top_hoppy.rename(columns={'Hoppy':'Hoppiness'},inplace=True)
top_hoppy.to_csv(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\flavor_csv\top_hop.csv')
top_hoppy.head(10)

,Beer Name,Hoppiness,Brewery,Beer Type
Placement,,,,
1,MMMKAY,193,Short's Brewing Company,Lager - India Pale Lager (IPL)
2,Trinity IPA,172,Trinity Brewhouse,IPA - English
3,Pursuit Of Hoppiness,172,Grand Teton Brewing Co.,Red Ale - Imperial
4,The Oracle,171,Bell's Brewery - Eccentric Café & General Store,IPA - Imperial
5,St-Ambroise India Pale Ale,171,McAuslan Brewing,IPA - English
6,Moondog Ale,171,Great Lakes Brewing Co.,Bitter - English Extra Special / Strong Bitter...
7,Triple Hop'd Lager,158,Bitburger Brauerei,Lager - India Pale Lager (IPL)
8,IPL,154,Straub Brewery,Lager - India Pale Lager (IPL)
9,Heller Bock Saphir,152,Brauerei Hofstetten Krammer GmbH & Co. KG,Bock - Maibock
10,Uncle Rusty,151,Columbus Brewing Company,Red Ale - Imperial

In [40]:
top_spices = top_beers.sort_values(by=['Spices'],ascending=False).head(10)
top_spices['Placement'] = placement
top_spices =  top_spices[ ['Placement'] + [col for col in top_spices.columns if col != 'Placement']].set_index(['Placement'])
top_spices = top_spices[['Beer Name','Spices','Brewery','Beer Type']]
top_spices.to_csv(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\flavor_csv\top_spc.csv')
top_spices.head(10)

,Beer Name,Spices,Brewery,Beer Type
Placement,,,,
1,Billy's Chilies Beer (Timberline Series),184,Twisted Pine Brewing Company,Chile Beer
2,Chipotle Smoked Porter,179,Pipeworks Brewing Company,Chile Beer
3,Underlig Jul,178,Nøgne Ø - Det Kompromissløse Bryggeri A/S,Herb and Spice Beer
4,Benji's Chipotle Smoked Imperial Porter,173,Tyranena Brewing Company,Porter - Smoked
5,Chipotle Ale,170,Rogue Ales,Chile Beer
6,Chili Pepper Ale,169,Six Rivers Brewery,Chile Beer
7,Indra Kunindra,169,Ballast Point Brewing Company,Stout - Foreign / Export
8,Barrel-Aged Framinghammer - Mole,165,Jack's Abby Brewing,Porter - Baltic
9,Mexican Cake,161,Westbrook Brewing Co.,Stout - American Imperial
10,Autumnal Molé Stout,160,Ska Brewing Co.,Chile Beer

In [41]:
top_malty = top_beers.sort_values(by=['Malty'],ascending=False).head(10)
top_malty['Placement'] = placement
top_malty =  top_malty[ ['Placement'] + [col for col in top_malty.columns if col != 'Placement']].set_index(['Placement'])
top_malty = top_malty[['Beer Name','Malty','Brewery','Beer Type']]
top_malty.rename(columns={'Malty':'Maltiness'},inplace=True)
top_malty.to_csv(r'C:\Users\hmwhi\OneDrive\Desktop\GitHub\Project3-Team1\flavor_csv\top_mlt.csv')
top_malty.head(10)

,Beer Name,Maltiness,Brewery,Beer Type
Placement,,,,
1,Victory At Sea - Peanut Butter,304,Ballast Point Brewing Company,Porter - Imperial
2,Sweet Baby Jesus!,265,DuClaw Brewing Company,Porter - American
3,Raincloud - Peanut Butter,259,Foolproof Brewing Company,Porter - Robust
4,Down 'N Dirty Chocolate Oatmeal Stout,239,Tyranena Brewing Company,Stout - Oatmeal
5,Bourbon Barrel Aged Dark Star: Coffee Edition,233,Fremont Brewing Company,Stout - Oatmeal
6,Bourbon Barrel Black Maple,233,Jackie O's Pub & Brewery,Porter - Imperial
7,Moment Of Clarity,231,Tree House Brewing Company,Stout - Sweet / Milk
8,Day & Night,230,Trillium Brewing Company,Barleywine - American
9,Sumatra Mountain Brown,218,Founders Brewing Company,Brown Ale - American
10,Scurry,218,Off Color Brewing,Altbier