This Notebook will serve to extract, tranform and load the United States Brewery Data contained in the breweries.csv file obtained from the opensource BreweriesDB project.

In [1]:
# importing all libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys

In [2]:
# read the brewery data from the csv file
raw_brewery_data = pd.read_csv("data/breweries.csv")
raw_brewery_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8019 entries, 0 to 8018
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   obdb_id          8019 non-null   object
 1   name             8019 non-null   object
 2   brewery_type     8019 non-null   object
 3   street           7214 non-null   object
 4   address_2        66 non-null     object
 5   address_3        23 non-null     object
 6   city             8019 non-null   object
 7   state            7877 non-null   object
 8   county_province  143 non-null    object
 9   postal_code      8019 non-null   object
 10  website_url      6837 non-null   object
 11  phone            7212 non-null   object
 12  country          8019 non-null   object
 13  longitude        5228 non-null   float64
 14  latitude         5228 non-null   float64
 15  tags             0 non-null      float64
dtypes: float64(3), object(13)
memory usage: 1002.5+ KB

In [25]:
# drop all rows not = to the usa
usa_raw_brewery_data = raw_brewery_data[raw_brewery_data['country'] == 'United States']
usa_raw_brewery_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7874 entries, 0 to 8018
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   obdb_id          7874 non-null   object
 1   name             7874 non-null   object
 2   brewery_type     7874 non-null   object
 3   street           7069 non-null   object
 4   address_2        2 non-null      object
 5   address_3        0 non-null      object
 6   city             7874 non-null   object
 7   state            7874 non-null   object
 8   county_province  1 non-null      object
 9   postal_code      7874 non-null   object
 10  website_url      6701 non-null   object
 11  phone            7077 non-null   object
 12  country          7874 non-null   object
 13  longitude        5084 non-null   float64
 14  latitude         5084 non-null   float64
 15  tags             0 non-null      float64
dtypes: float64(3), object(13)
memory usage: 1.0+ MB

In [26]:
# drop address_2, address_3, county_provine, tags columns
usa_raw_brewery_data.drop(['address_2', 'address_3', 'county_province', 'tags'], axis=1, inplace=True)
usa_raw_brewery_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7874 entries, 0 to 8018
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   obdb_id       7874 non-null   object
 1   name          7874 non-null   object
 2   brewery_type  7874 non-null   object
 3   street        7069 non-null   object
 4   city          7874 non-null   object
 5   state         7874 non-null   object
 6   postal_code   7874 non-null   object
 7   website_url   6701 non-null   object
 8   phone         7077 non-null   object
 9   country       7874 non-null   object
 10  longitude     5084 non-null   float64
 11  latitude      5084 non-null   float64
dtypes: float64(2), object(10)
memory usage: 799.7+ KB

C:\Users\benjy\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [27]:
# drop all rows where latitude and longitude are null
usa_raw_brewery_data.dropna(subset=['latitude', 'longitude'], inplace=True)
usa_raw_brewery_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5084 entries, 0 to 8018
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   obdb_id       5084 non-null   object
 1   name          5084 non-null   object
 2   brewery_type  5084 non-null   object
 3   street        4966 non-null   object
 4   city          5084 non-null   object
 5   state         5084 non-null   object
 6   postal_code   5084 non-null   object
 7   website_url   4473 non-null   object
 8   phone         4670 non-null   object
 9   country       5084 non-null   object
 10  longitude     5084 non-null   float64
 11  latitude      5084 non-null   float64
dtypes: float64(2), object(10)
memory usage: 516.3+ KB

<ipython-input-27-524a41fa7d47>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usa_raw_brewery_data.dropna(subset=['latitude', 'longitude'], inplace=True)

In [28]:
# create new dataframe called us_brewey_data
us_brewery_data = pd.DataFrame(usa_raw_brewery_data)
us_brewery_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5084 entries, 0 to 8018
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   obdb_id       5084 non-null   object
 1   name          5084 non-null   object
 2   brewery_type  5084 non-null   object
 3   street        4966 non-null   object
 4   city          5084 non-null   object
 5   state         5084 non-null   object
 6   postal_code   5084 non-null   object
 7   website_url   4473 non-null   object
 8   phone         4670 non-null   object
 9   country       5084 non-null   object
 10  longitude     5084 non-null   float64
 11  latitude      5084 non-null   float64
dtypes: float64(2), object(10)
memory usage: 516.3+ KB

In [33]:
# sort data frame by state then by city then by brewery name and reset index

us_brewery_data.sort_values(by=['state', 'city', 'name'], inplace=True, ascending=True)

# reset index on us_brewery_data
us_brewery_data.reset_index(drop=True, inplace=True)
us_brewery_data.head()

,obdb_id,name,brewery_type,street,city,state,postal_code,website_url,phone,country,longitude,latitude
0,siluria-brewing-company-alabaster,Siluria Brewing Company,planning,NaN,Alabaster,Alabama,35007-8501,http://www.siluriabrewing.com,2054827661,United States,-86.816377,33.244281
1,cheaha-brewing-co-anniston,Cheaha Brewing Co,brewpub,1208 Walnut Ave,Anniston,Alabama,36201-4526,http://www.cheahabrewingcompany.com,2567707300,United States,-85.833774,33.660167
2,avondale-brewing-co-birmingham,Avondale Brewing Co,micro,201 41st St S,Birmingham,Alabama,35222-1932,http://www.avondalebrewing.com,2057775456,United States,-86.774322,33.524521
3,birmingham-district-brewing-birmingham,Birmingham District Brewing,planning,NaN,Birmingham,Alabama,35242-5651,NaN,6019380486,United States,-86.802433,33.520682
4,brewpub-in-planning-birmingham-birmingham,Brewpub In Planning - Birmingham,planning,NaN,Birmingham,Alabama,35222,NaN,2565854531,United States,-86.802433,33.520682

In [34]:
# save the dataframe to a csv file
us_brewery_data.to_csv('data/usbreweries.csv')

In [35]:
# save the dataframe to a JSON file
us_brewery_data.to_json('data/usbreweries.json')